/* Base Styles ---------------*/

body {
  font-family: 'Merriweather', serif;
}

legend {
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  text-transform: uppercase;
  color: white;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: solid 5px black;
}

.banner h2 {
  font-weight: bolder;
  text-align: center;
}

.banner p {
  font-weight: lighter;
  color: darkgrey;
  text-align: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contact input {
  background-color: lightgrey;
  margin: 10px 5px;
  padding: 10px 60px;
  flex: 1 200px;
  border-radius: 3px;
  border-style: none;

}
