/* Base Styles ---------------*/

body {
  font-family: 'Merriweather', serif;
  margin: 0;
}

legend {
  font-size: 1.4em;
  font-weight: bold;
  margin: 10px;
}

h1 {
  text-align: center;
}


.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #25255F;
  text-transform: uppercase;
  color: white;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: solid 5px black;
}

.banner h2 {
  font-weight: bolder;
  text-align: center;
}

.banner p {
  font-weight: lighter;
  color: darkgrey;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto 0;
  border-style: none;
  border-bottom: solid 5px black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.contact input {
  background-color: lightgrey;
  width: 82%;
  padding: 15px;
  flex: 1 200px;
  border-radius: 3px;
  border-style: none;
  font-size: 1em;
  margin-top: 10px;
}

.contact input:focus {
  border: 2px solid #25255F;
  outline: 0;
}

.contact label {
  color: grey;
  font-size: 1em;
  font-weight: lighter;
  border-color: black;
}

.newsletter {
  border-style: none;
}

.newsletter p, label {
  margin: 10px auto;
  color: grey;
  font-size: 1em;
  font-weight: lighter;
}

textarea {
  width: 90%;
  padding: 15px 0;
  background-color: lightgrey;
  border-style: none;
  border-radius: 3px;
  margin: 0 auto;
}

button {
  background: linear-gradient(to top right, #ffffff -35%, #7a7adb 79%);
  border-radius: 3px;
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
}

#state {
  padding: 12px;
  border-radius: 3px;
  border-style: none;
  background-color: lightgrey;
  width: 90%;
  height: 3.25rem;
  font-size: 1em;
  margin-top: 10px;
}

#state:focus {
  background-color: lightgrey;
  outline: 0;
  border: 2px solid #25255F;
}

#zip {
  width: 35%;
  padding: 15px;
}

.copyright p {
  text-align: center;
  font-style: italic;
  color: darkgrey;
  font-size: 8px;
}

/* Media Queries: Tablet/Desktop 768px ---------------*/

@media (min-width: 768px) {

.banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 70%;
}

hr {
  border-style: double;
  width: 70%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.form-row label {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row input {
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
}

#state {
  flex: 1;
  margin-bottom: 10px;
  margin-top: 10px;

}


}
